# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# pytest cache
.pytest_cache/

# Virtualenv
venv/
.env/

# VSCode
.vscode/

# system files
Thumbs.db
.DS_Store

.env

# quickshare artifacts
artifacts/
received/
*.tar.gz
*.part

# SQLite database
.quickshare_progress.db

# Build artifacts
*.egg-info/
dist/
build/
